@model EndpointMVC.Models.Department

<h1>Create Department</h1>

<form asp-action="Create">
    <div>
        <label>Department Name</label>
        <input asp-for="DepartmentName" required />
        <span asp-validation-for="DepartmentName"></span>
    </div>
    <button type="submit">Create</button>
</form>
