@model EndpointMVC.Models.Department

<h1>Delete Department</h1>

<h4>Are you sure you want to delete this department?</h4>
<div>
    <h4>@Model.DepartmentName</h4>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="DepartmentId" />
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>
