@model EndpointMVC.Models.Employee

<h1>Create Employee</h1>

<form asp-action="Create">
    <div>
        <label>First Name</label>
        <input asp-for="FirstName" required />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label>Last Name</label>
        <input asp-for="LastName" required />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label>Salary</label>
        <input asp-for="Salary" required />
        <span asp-validation-for="Salary"></span>
    </div>
    <div>
        <label>Position</label>
        <input asp-for="Position" />
        <span asp-validation-for="Position"></span>
    </div>
    <div>
        <label>Department ID</label>
        <input asp-for="DepartmentId" required />
        <span asp-validation-for="DepartmentId"></span>
    </div>
    <button type="submit">Create</button>
</form>
