@model EndpointMVC.Models.Employee

<h1>Delete Employee</h1>

<h4>Are you sure you want to delete this employee?</h4>
<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <div>
        <strong>Salary:</strong> @Model.Salary.ToString("C")<br />
        <strong>Position:</strong> @Model.Position<br />
    </div>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="EmployeeId" />
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>
